// Font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lora:400,700|Roboto+Mono:300,400");
// Bootstrap
@import "bootstrap/functions";
@import "bootstrap-variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/utilities";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/images";
@import "bootstrap/buttons";
@import "bootstrap/card";
@import "bootstrap/badge";
@import "bootstrap/alert";

// Libraries
@import "libraries/hamburgers/hamburgers";
@import "libraries/pygments/github";

// Components
@import "components/reset";
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/docs-menu";
@import "components/hamburger";
@import "components/buttons";
@import "components/title";
@import "components/content";
@import "components/strip";
@import "components/whitebox";
@import "components/overview";
@import "components/anchor";
@import "components/buttons";

// Pages
@import "pages/home";
@import "pages/blog";
@import "pages/work";

// Global
body {
  font-family: $font-family-base;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $black;
  background-color: $background;
}
.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

img[src$="block"] {
  display: block;
}
img[src$="left"] {
  display: block;
  float: left;
  margin-right: 20px;
}

img[src$="right"] {
  display: block;
  float: right;
  margin-left: 20px;
}

.sub-footer {
  .fab,
  .fas {
    font-size: 1.5em;
    width: 2em;
    text-decoration: none;
  }
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
.social {
  .fab,
  .fas {
    font-size: 0.8em;
    width: 1.4em;
    text-decoration: none;
  }
  flex-grow: 2;
  justify-content: flex-end;
  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.project:hover {
  h2 {
    color: rgb(32, 96, 148);
  }
}
