<div class="mb-5 project">
  <div class="row h-100">
    <div class="col-5">
      <a href="{{ .Permalink }}">
        <img class="shadow-lg bg-white rounded img-fluid" alt="{{ .Title }}"
          src='{{ ((.Resources.GetMatch "images/splash**").Fill "400x200").Permalink | absURL}}' />
      </a>
    </div>
    <div class="col">
      <div class="h-100 d-flex flex-column">
        <div class="row flex-grow-1 ">
          <div class="col">
            <div class="summary mb-2">
              <h2 class="mb-0">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h2>
              <small class="created text-muted text-capitalize font">
                in {{ delimit .Keywords  "," }} | {{ .Date.Format "January 2, 2006" }}
              </small>
            </div>
            <p>{{ .Summary }}</p>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-4">
            <div class="text-muted text-left">
              <a class="btn btn-outline-secondary" href="{{ .Permalink }}">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>