{{ define "body_classes" }}page-default-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "header_css" }}
<meta name="author" content="Kai Richard König">
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@kai_richard">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Summary }}">
<meta name="twitter:creator" content="@kai_richard">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="{{ ((.Resources.GetMatch "head.jpg").Resize "400x q90").Permalink | absURL }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink | absURL}}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="og:site_name" content="Kai Richard König" />
<meta property="article:published_time" content="{{.Date}}" />
<meta property="article:modified_time" content="{{.Lastmod}}" />
<meta property="article:section" content="Profile" />
{{ end }}

{{ define "main" }}


<h1 class="title">{{ .Title }}</h1>
<div class="content mb-6">
    {{ .Content }}
</div>

<div class="row">
    {{ range.Pages }}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4 print-no-break">
        <div class="card h-100">
            <a href="{{ .Permalink }}">
                <img class="card-img-top" alt="{{ .Title }}"
                    src='{{ ((.Resources.GetMatch "card.jpg").Fill "400x200 smart").Permalink | absURL}}' />
            </a>
            <div class="card-body print-no-break">
                <p class="card-text"><small class="text-muted">Last updated <span class="timeago"
                            datetime="{{ ((index (sort .Pages "Lastmod" "desc") 0).Lastmod | default .Lastmod) | dateFormat "2006-01-02 15:04:05"}}"></span></small>
                </p>
                <h5 class="card-title">{{ .Title }}</h5>
                <p class="card-text " style="min-height: 100px;">
                    {{ .Summary }}
                </p>
                <p class="text-center mb-0">
                    <a href="{{ .Permalink }}" class="btn btn-outline-{{ .Params.color }}">{{ .Title }}</a>
                </p>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}